---
import ActionBtn from "../components/ActionBtn.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Torres Agustin - Portafolio">
  <main>
    <section class="h-screen flex flex-col justify-center mx-28">
      <span class="text-3xl text-orange-500 font-light">
        UN GUSTO, SOY AGUS
      </span>
      <span class="text-7xl pt-3">Desarrollador Web</span>
      <span class="text-blue-400 text-lg pb-8 font-light">
        +1 AÑO DE EXPERIENCIA
      </span>
      <p class="text-lg opacity-80 pb-2">
        Cuento con amplios conocimientos para la construcción de tu próximo
        proyecto.
      </p>
      <div class="flex gap-2">
        <ActionBtn href="" title="Mensaje" />
        <ActionBtn href="" title="Descargar CV" />
      </div>
    </section>
  </main>
</Layout>
