---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import ProjectSection from "../components/ProjectSection.astro";
import AboutMe from "../components/AboutMe.astro";
---

<Layout title="Torres Agustin - Portafolio">
  <main class="w-3/5">
    <Hero />
    <ExperienceSection />
    <ProjectSection />
    <AboutMe />
  </main>
</Layout>

<!-- Identifies the current section that is being targeted by changing the text´s color on header-nav -->
<script>
  const sections = document.querySelectorAll("section");
  const navItems = document.querySelectorAll("header nav a");

  const currentSectionCallback = (entries: any[]) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        navItems.forEach((item) => {
          if (item.getAttribute("aria-label") === entry.target.id) {
            item.classList.add("text-blue-500");
            item.classList.add("scale-110");
          } else {
            item.classList.remove("text-blue-500");
            item.classList.remove("scale-110");
          }
        });
      }
    });
  };

  const options = {
    root: null,
    rootMargin: "20px",
    threshold: 0.2,
  };

  const observer = new IntersectionObserver(currentSectionCallback, options);

  sections.forEach((section) => observer.observe(section));

  document.onvisibilitychange = () => {
    if (document.visibilityState === "hidden") {
      observer.disconnect();
    } else {
      sections.forEach((section) => {
        observer.observe(section);
      });
    }
  };
</script>
