---
import CustomParagraph from "./CustomParagraph.astro";
import TitleSection from "./TitleSection.astro";
import KeyWord from "../components/KeyWord.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const t = useTranslations(getLangFromUrl(Astro.url));
---

<section id="about-me" class="flex flex-col justify-center py-28">
  <TitleSection>{t("about.me.section.title")}</TitleSection>
  <article class="gap-6 grid grid-cols-[11rem_1fr]">
    <picture>
      <img
        src="/portrait.jpg"
        alt={t("about.me.section.img.profile.alt")}
        class="rounded-3xl object-cover object-top size-full"
      />
    </picture>
    <div class="flex flex-col gap-4">
      <CustomParagraph>
        {t("about.me.fp.s1")}
        <KeyWord word={t("about.me.fp.kw1")} />
        {t("about.me.fp.s2")}
        <KeyWord word={t("about.me.fp.kw2")} />
        {t("about.me.fp.s3")}
      </CustomParagraph>
      <CustomParagraph>
        {t("about.me.sp.s1")}
        <KeyWord word={t("about.me.sp.kw1")} />
        {t("about.me.sp.s2")}
        <KeyWord word={t("about.me.sp.kw2")} />
        {t("about.me.sp.s3")}
      </CustomParagraph>
      <CustomParagraph>
        {t("about.me.tp.s1")}
        <KeyWord word={t("about.me.tp.kw1")} />
        {t("about.me.tp.s2")}
      </CustomParagraph>
    </div>
  </article>
</section>

<style>
  @media (width <= 1070px) {
    article {
      grid-template-columns: 1fr;
      grid-template-rows: 15rem 1fr;
    }

    article picture {
      justify-self: center;
      align-self: center;
      height: 15rem;
      width: 15rem;
    }

    article picture img {
      border-radius: 100%;
    }
  }
</style>
