---
interface Props {
  label: string;
}

const { label } = Astro.props;
---

<span
  class="flex items-center justify-center bg-[rgba(0,0,0,.3)] rounded-xl px-2 py-1 gap-1 font-light border border-green-700 border-opacity-50 text-sm"
>
  <slot />
  {label}
</span>

<style>
  @media (width <= 570px) {
    span {
      font-size: 0.75rem;
    }
  }

  @media (width <= 400px) {
    span {
      font-size: 0.65rem;
    }
  }
</style>
