---
import CopyIcon from "./icons/CopyIcon.astro";
import CustomActionBtn from "../components/CustomActionBtn.astro";
---

<div class="flex items-center justify-center copy-email-btn">
  <input
    id="emailText"
    type="text"
    readonly
    value="torresagustin613@gmail.com"
    class="rounded-l px-2 w-[240px] outline-none text-black h-full"
  />
  <CustomActionBtn id="copy-btn" className="rounded-r">
    <CopyIcon />
  </CustomActionBtn>
</div>

<style>
  @media (width <= 570px) {
    .copy-email-btn {
      align-items: normal;
    }

    .copy-email-btn input {
      width: 100%;
      height: auto;
    }
  }

  @media (width <= 330px) {
    .copy-email-btn input {
      font-size: 0.85rem;
    }
  }
</style>

<script>
  const copyBtn = document.getElementById("copy-btn");
  const messageContainer = document.getElementById(
    "copy-to-clipboard-msg-container"
  );

  function copyEmailToClipboard() {
    const email = (document.getElementById("emailText") as HTMLInputElement)
      .value;
    navigator.clipboard
      .writeText(email)
      .then(() => {
        messageContainer.classList.remove("animate-message-disappear");
        messageContainer.classList.remove("-right-full");
        messageContainer.classList.add("right-0");
        setTimeout(() => {
          messageContainer.classList.add("animate-message-disappear");
          messageContainer.classList.add("-right-full");
          messageContainer.classList.remove("right-0");
        }, 2750);
      })
      .catch((error) => console.log(error));
  }

  copyBtn.addEventListener("click", copyEmailToClipboard);
</script>
