---
import CopyIcon from "./icons/CopyIcon.astro";
import CustomActionBtn from "../components/CustomActionBtn.astro";
---

<div class="flex items-center justify-center copy-email-btn">
  <input
    id="emailText"
    type="text"
    readonly
    value="torresagustin613@gmail.com"
    class="rounded-l px-2 w-[240px] outline-none text-black h-full"
  />
  <CustomActionBtn id="copyBtn" className="rounded-r">
    <CopyIcon />
  </CustomActionBtn>
</div>

<style>
  @media (width <= 570px) {
    .copy-email-btn {
      align-items: normal;
    }

    .copy-email-btn input {
      width: 100%;
      height: auto;
    }
  }

  @media (width <= 330px) {
    .copy-email-btn input {
      font-size: 0.85rem;
    }
  }
</style>

<script>
  const copyBtn = document.getElementById("copyBtn");

  function copyEmailToClipboard() {
    const email = (document.getElementById("emailText") as HTMLInputElement)
      .value;
    navigator.clipboard
      .writeText(email)
      .then(() => alert("Email copiado!"))
      .catch((error) => console.log(error));
  }

  copyBtn.addEventListener("click", copyEmailToClipboard);
</script>
