<p class="text-gray-400 font-light tracking-wide experience-description">
  <slot />
</p>

<style>
  @media (width <= 570px) {
    .experience-description {
      font-size: 0.9rem;
      line-height: 1.75;
    }
  }

  @media (width <= 400px) {
    .experience-description {
      font-size: 0.8rem;
    }
  }
</style>
