---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import CustomActionBtn from "./CustomActionBtn.astro";
import DownloadIcon from "./icons/DownloadIcon.astro";

const t = useTranslations(getLangFromUrl(Astro.url));
---

<a
  href={t("hero.download.cv.file.href")}
  download={t("hero.download.cv.file.name")}
>
  <CustomActionBtn className="rounded">
    {t("hero.download.cv")}
    <DownloadIcon />
  </CustomActionBtn>
</a>

<style>
  @media (width <= 330px) {
    a {
      font-size: 0.85rem;
    }
  }
</style>
