---
import CustomActionBtn from "./CustomActionBtn.astro";
import DownloadIcon from "./icons/DownloadIcon.astro";
---

<a href="/torres_facundo_cv.pdf" download="Torres Agustin CV">
  <CustomActionBtn className="rounded">
    Descargar CV
    <DownloadIcon />
  </CustomActionBtn>
</a>

<style>
  @media (width <= 330px) {
    a {
      font-size: 0.85rem;
    }
  }
</style>
