---
import DownloadIcon from "./icons/DownloadIcon.astro";
---

<a
  href="/torres_facundo_cv.pdf"
  download="Torres Agustin CV"
  class="cursor-pointer bg-blue-600 rounded flex items-center justify-center gap-1 px-2 py-1 hover:bg-blue-900 transition-colors"
>
  Descargar CV
  <DownloadIcon />
</a>
