---
import ICONS from "../utils/icons";
---

<footer class="bg-black py-3 flex justify-center items-center gap-10">
  <!-- Contact Me Section -->
  <section id="contact" class="flex items-center justify-center gap-6">
    <h2 class="text-xl text-center tracking-wider">Contacto</h2>
    <a
      href="mailto:torresagustin613@gmail.com"
      target="_blank"
      class="hover:scale-110"
    >
      <ICONS.Gmail class="size-6" />
    </a>
    <a
      href="https://www.linkedin.com/in/torres-facundo-agustin"
      target="_blank"
      class="hover:scale-110"
    >
      <ICONS.Linkedin class="size-6" />
    </a>
    <a
      href="https://www.instagram.com/agustorres613/"
      target="_blank"
      class="hover:scale-110"
    >
      <ICONS.Instagram class="size-6" />
    </a>
  </section>
  <span class="text-5xl">|</span>
  <span
    class="text-xl flex items-center justify-center gap-5 tracking-wider text-purple-300"
  >
    Desarrollado con Astro
    <a href="https://astro.build/" class="hover:scale-110" target="_blank">
      <ICONS.AstroIcon class="size-6" />
    </a>
  </span>
</footer>
