---
const navItems = [
  {
    id: "#top",
    label: "top",
    title: "Inicio",
  },
  {
    id: "#projects",
    label: "projects",
    title: "Proyectos",
  },
  {
    id: "#about-me",
    label: "about-me",
    title: "Sobre Mí",
  },
  {
    id: "#contact",
    label: "contact",
    title: "Contacto",
  },
];
---

<header id="nav_header" class="flex justify-center items-center w-full fixed">
  <nav class="flex gap-8 py-2 px-6 rounded-full mt-2 backdrop-blur-md">
    {
      navItems.map((item) => (
        <a
          href={item.id}
          class="transition-colors text-sm tracking-wide hover:text-blue-400 hover:scale-110"
          aria-label={item.label}
        >
          {item.title}
        </a>
      ))
    }
  </nav>
</header>
