---
import Section from "./Section.astro";
---

<header
  id="nav_header"
  class="px-8 py-3 flex justify-between items-center w-full fixed backdrop-blur-md"
>
  <div class="flex gap-4 items-center justify-center">
    <img
      src="/profile_image.png"
      alt="Mi foto de perfil, vistiendo una camisa azul con formas cuadradas y un fondo azulado"
      class="w-16 h-16 object-cover rounded-full"
    />
    <h1
      class="text-xl font-medium hover:text-orange-500 cursor-pointer transition-colors"
    >
      Torres Agustin
    </h1>
  </div>
  <nav class="flex gap-6">
    <Section link="#top" title="Inicio" />
    <Section link="#about-me" title="Sobre Mi" />
    <Section link="#projects" title="Proyectos" />
    <Section link="#contact" title="Contacto" />
  </nav>
</header>
