---
import type { IProjectLinks } from "../utils/types";

interface Props {
  links: IProjectLinks[];
}

const { links } = Astro.props;
---

<div class="flex gap-6 items-center justify-center">
  {
    links.map((link) => (
      <a
        class="bg-blue-600 rounded hover:bg-blue-900 cursor-pointer px-2 py-1 flex items-center justify-center gap-1"
        href={link.href}
        target="_blank"
      >
        {link.label}
        <link.icon class="size-4" />
      </a>
    ))
  }
</div>
