.footer {
  grid-area: footer;
  background: #222b3c;
}

.separate-line {
  font-size: 1rem;
}

.separate-line:after {
  content: "";
  border-radius: 1rem;
  display: block;
  background: #fff;
  height: 2rem;
  width: 2px;
}

@media (width <= 700px) {
  .contact-title,
  .developed-with-title {
    font-size: 1rem;
  }

  .footer-icon-url {
    width: 1.25rem;
    height: 1.25rem;
  }
}

@media (width <= 600px) {
  .footer {
    flex-direction: column;
    gap: 1rem;
  }

  .separate-line:after {
    width: 17rem;
    height: 2px;
  }
}

@media (width <= 350px) {
  .contact-title,
  .developed-with-title {
    font-size: 0.85rem;
  }

  .separate-line:after {
    width: 15rem;
  }

  .footer-icon-url {
    width: 1rem;
    height: 1rem;
  }
}
