.grid-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}
